body {
    font-family: 'Poppins', sans-serif;
}

.first {
    color: white;
    text-align: center;
    background-image: url(donation10.jpg);
    padding: 50px 60px;
}

.button {
    text-decoration: none;
    background-color: indianred;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.second {
    text-align: center;
    padding: 50px;
    font-weight: 500;
}

.border {
    display: flex;
    padding-left: 550px;
    text-align: center;
}

.akhajar {
    background-color: aliceblue;
    padding: 2px;
    font-weight: 700;
}

.duihajar {
    color: brown;
    padding: 2px;
    border: 2px solid red;
    font-weight: 700;
}

.ammount {
    text-align: center;
}

.button2 {
    text-align: center;
    padding: 20px;
}

.border2 {
    display: flex;
    padding-left: 350px;
    text-align: center;
}

.food {
    background-color: aliceblue;
    padding-left: 10px;
    font-weight: 700;
    margin: 10px;
}

.shelter {
    background-color: rgb(248, 223, 223);
    padding: 10px;
    font-weight: 700;
    margin: 10px;
}

.education {
    background-color: rgb(245, 231, 214);
    padding: 10px;
    font-weight: 700;
    margin: 10px;
}

.last {
    display: flex;
}

.half {
    width: 50%;
}

.half img {
    width: 60%;
    padding-left: 90px;
}

.pad {
    padding-right: 100px;

}

.pad2 {
    padding-left: 100px;
}

.pad {
    padding-right: 100px;
}

.email {
    background-color: brown;
}

.mail {
    display: flex;
}

.ses {
    text-align: center;
    font-weight: 500;
    color: aliceblue;
}

.back {
    background-color: darkblue;
}

.hmbl {
    color: crimson;
    text-align: center;
    font-weight: 500;

}